<template>
  <div class="canvas-container" ref="container">
      <!-- @mousedown="handleMouseDown"
      @mousemove.prevent="handleMouseMove"
      @mouseup="handleMouseUp"
      @touchstart="handleMouseDown"
      @touchmove.prevent="handleMouseMove"
      @touchend="handleMouseUp"
      @mousewheel="handleMouseWheel"
      @DOMMouseScroll="handleMouseWheel" -->

    <canvas ref="canvas" />

    <ThreejsStats v-if="debug" class="threejs-stats" />

    <ControlKit
      v-if="debug"
      :title="currentWorld ? currentWorld.$options.name : 'No World loaded'"
      :additionalControls="[threejsControlKit]"
      :model="currentWorld ? currentWorld.reactiveProps : null"
      :target="currentWorld"
      :settings="{
        sliders: [
          { match: /alpha|threshold|bloomPass\.radius/i, min: 0, max: 1, step: 0.01 }, // stuff that goes from 0 to 1
          { match: /intensity|radius|gammaFactor|exposure|whitepoint|bloomPass\.strength/i, min: 0, max: 20, step: 0.1 }, // stuff thet goes from 0 to 20
          { match: /theta/i, min: -Math.PI, max: Math.PI, step: 0.01 }, // spherical coordinate
          { match: /angle|\.phi/i, min: 0, max: Math.PI, step: 0.01 }, // angles
          { match: /shadow\.mapSize/i, min: 2, max: 4096, step: 2 }, // shadows map sizes
          { match: /shadow\.bias/i, min: -0.001, max: 0.001, step: 0.00001 } // shadow bias
        ]
      }"
      />
  </div>
</template>

<script>
import { WebGL } from 'three-full/sources/helpers/WebGL'
import { Clock } from 'three-full/sources/core/Clock'
import { Vector2 } from 'three-full/sources/math/Vector2'
import { Vector3 } from 'three-full/sources/math/Vector3'
import { Vector4 } from 'three-full/sources/math/Vector4'
import { Color } from 'three-full/sources/math/Color'
import { to } from 'await-to-js'
import merge from 'lodash/merge'
import assign from 'lodash/assign'
import cloneDeep from 'lodash/cloneDeep'
import Vue from 'vue'

import { RAF, ElasticNumber, Platform, normalizeWheel, NumberUtils, ObjectUtils } from '@monogrid/js-utils'
import { ControlKit } from '@monogrid/vue-lib'
import ThreejsStats from '@/3d/components/ThreejsStats'
import ThreejsControlKit from '@/3d/utils/ThreejsControlKit.jsx'
import StandardWorldRenderer from '@/3d/renderers/StandardWorldRenderer'
// define a merge strategy for reactiveProps
// for now copy it from props merge strategy
Vue.config.optionMergeStrategies.reactiveProps = Vue.config.optionMergeStrategies.data
Vue.config.optionMergeStrategies.reactiveValues = Vue.config.optionMergeStrategies.props

export default {
  name: 'ThreejsCanvas',

  components: {
    ControlKit,
    ThreejsStats
  },

  props: {
    // size
    width: {
      type: Number,
      required: false,
      default: 800
    },
    height: {
      type: Number,
      required: false,
      default: 600
    },
    // activates debug interface
    debug: {
      type: Boolean,
      required: false,
      default: false
    },
    // signals if this canvas is loading
    loading: {
      type: Boolean,
      required: false,
      default: true
    },
    mouseActiveClasses: {
      type: Array,
      require: false,
      default () {
        return ['canvas-container']
      }
    },
    // current world to render
    world: {
      required: false
    },
    // type of renderer to use
    renderer: {
      required: false,
      default () {
        return StandardWorldRenderer
      }
    }
  },

  data () {
    return {
      worlds: [],
      worldAlpha: new ElasticNumber(0), // 0 is worlds[0] 1 is worlds[1]
      alphaThreshold: 0.001,
      doLerpRenderProps: false,
      // transitioning: false,
      instantiatedRenderer: null,
      threejsControlKit: ThreejsControlKit,
      currentWorldType: null
    }
  },

  created () {
    this._clock = new Clock(true)
    this.colorLerp = new Color()
  },

  async mounted () {
    if (!WebGL.isWebGLAvailable() || Platform.prerenderer) {
      return false
    }

    this.instantiateRenderer()
    await this.instantiateWorld()
    document.addEventListener('mousedown', this.handleMouseDown)
    document.addEventListener('mousemove', this.handleMouseMove)
    document.addEventListener('mouseup', this.handleMouseUp)
    document.addEventListener('touchstart', this.handleMouseDown, { passive: false })
    document.addEventListener('touchmove', this.handleMouseMove, { passive: false })
    document.addEventListener('touchend', this.handleMouseUp, { passive: false })
    document.addEventListener('mousewheel', this.handleMouseWheel)
    document.addEventListener('DOMMouseScroll', this.handleMouseWheel)
    // document.addEventListener('keyup', () => {
    //   var image = new Image()
    //   image.src = this.$refs.canvas.toDataURL()
    //   let w = window.open('')
    //   w.document.write(image.outerHTML)
    // })
    this.onResize()
    RAF.add(this.render)
  },

  beforeDestroy () {
    if (this.instantiatedRenderer) this.instantiatedRenderer.dispose()
    if (this.worlds[0]) this.worlds[0].dispose()
    if (this.worlds[1]) this.worlds[1].dispose()
    document.removeEventListener('mousedown', this.handleMouseDown)
    document.removeEventListener('mousemove', this.handleMouseMove)
    document.removeEventListener('mouseup', this.handleMouseUp)
    document.removeEventListener('touchstart', this.handleMouseDown)
    document.removeEventListener('touchmove', this.handleMouseMove)
    document.removeEventListener('touchend', this.handleMouseUp)
    document.removeEventListener('mousewheel', this.handleMouseWheel)
    document.removeEventListener('DOMMouseScroll', this.handleMouseWheel)
    RAF.remove(this.render)
  },

  watch: {
    renderer () {
      this.instantiateRenderer()
    },
    'world.type': {
      handler (value) {
        this.instantiateWorld()
      },
      deep: false
    },
    'world.props': {
      handler (value) {
        if (!this.doLerpRenderProps && value && this.currentWorld) {
          Object.keys(value).forEach(k => {
            this.currentWorld[k] = value[k]
          })
        }
      },
      deep: true
    },
    'currentWorld.rendererProps': {
      handler () {
        this.doLerpRenderProps = true
      },
      deep: true
    },
    width (value) {
      this.onResize()
    },
    height (value) {
      this.onResize()
    }
  },

  methods: {
    async instantiateWorld () {
      if (this.world.type === this.currentWorldType) return
      this.currentWorldType = this.world.type
      // console.log('instantiate world')

      // this.transitioning = true
      const currentWorld = this.worlds[this.currentWorldIndex]
      let newWorldIndex = this.currentWorldIndex === 0 ? 1 : 0
      if (!this.worlds[0] && !this.worlds[1]) {
        // initialization
        newWorldIndex = 0
      } else {
        // signal old world to do outro and wait for it
        const [outroError] = await to(currentWorld.outro())
        if (outroError) {
          // current world coudn't do outro for some reason
          console.error(outroError)
          this.$emit('error', outroError)
          // this.transitioning = false
          return
        }
      }
      // dispose of (maybe) instantiated old world
      if (this.worlds[newWorldIndex]) {
        // console.log('dispoze old world at index', newWorldIndex)
        this.worlds[newWorldIndex].dispose()
        this.worlds[newWorldIndex].$destroy()
        // Vue.delete(this.worlds, newWorldIndex)
      }

      // -------------------
      // instantiate new world
      // -------------------
      if (!this.world) return
      // create base props
      let propsData = {
        width: this.width,
        height: this.height
      }
      if (this.world.props) {
        propsData = merge(propsData, this.world.props, {
          width: this.width,
          height: this.height
        })
      }

      // -------------------
      // build aggregated reactiveProps
      // -------------------

      // start with renderer props
      const reactiveProps = { rendererProps: cloneDeep(this.instantiatedRenderer.reactiveProps) }

      // add world type mixin(s) reactiveProps
      if (this.world.type.mixins) {
        this.world.type.mixins.forEach(mixin => {
          if (typeof mixin.reactiveProps === 'function') {
            merge(reactiveProps, mixin.reactiveProps())
          }
        })
      }
      // add world type reactiveProps
      if (typeof this.world.type.reactiveProps === 'function') {
        merge(reactiveProps, this.world.type.reactiveProps())
      }

      // add world reactiveProps
      if (typeof this.world.reactiveProps === 'function') {
        merge(reactiveProps, this.world.reactiveProps())
      }
      // instance reactiveProps itself into data
      reactiveProps.reactiveProps = cloneDeep(reactiveProps)

      const worldWithProps = merge({}, this.world.type, { propsData, reactiveProps })

      // TODO: merge existing type data (and mixins?)
      worldWithProps.data = function () {
        return reactiveProps
      }

      const newWorld = new Vue(worldWithProps)
      Vue.set(this.worlds, newWorldIndex, newWorld)

      // give it a pass of lerping
      this.doLerpRenderProps = true

      // emit from this
      // all events fired by new world
      const oldEmit = newWorld.$emit
      newWorld.$emit = (...args) => {
        this.$emit.apply(this, args)
        oldEmit.apply(newWorld, args)
      }

      // load new world
      this.$emit('update:loading', true)
      const [loadError] = await to(newWorld.load())
      this.$emit('update:loading', false)

      if (!loadError) {
        // transition
        this.worldAlpha.target = newWorldIndex
        // signal new world to do intro
        newWorld.intro()
      } else {
        // new world coudn't load
        console.error(loadError)
        this.$emit('error', loadError)
      }
      // this.transitioning = false
    },

    instantiateRenderer () {
      const options = cloneDeep(this.renderer)

      // -------------------
      // transform reactiveProps into data
      // -------------------

      // merge mixins reactiveProps
      const mergedreactiveProps = {}
      options.mixins.forEach(mixin => {
        if (typeof mixin.reactiveProps === 'function') {
          merge(mergedreactiveProps, mixin.reactiveProps())
        }
      })

      if (typeof options.reactiveProps === 'function') {
        merge(mergedreactiveProps, options.reactiveProps())
      }
      // instance reactiveProps itself into data
      mergedreactiveProps.reactiveProps = cloneDeep(mergedreactiveProps)

      // TODO: merge existing type data (and mixins?)
      options.data = function () {
        return mergedreactiveProps
      }
      this.instantiatedRenderer = new Vue(assign(options, {
        propsData: {
          canvas: this.$refs.canvas,
          width: this.width,
          height: this.height
        }
      }))

      this.onResize()
    },

    render () {
      let delta = this._clock.getDelta()
      delta = Math.min(delta, 1 / 40)

      this.worldAlpha.update(delta)
      this.worldAlpha.value = Math.round(this.worldAlpha.value * 10000) / 10000 // round it to 4 decimals

      const [world0, world1] = this.worlds

      // decide when to do lerp
      if (this.worldAlpha.value > this.alphaThreshold && this.worldAlpha.value < (1 - this.alphaThreshold)) {
        this.doLerpRenderProps = true
      } else {
        if (this.worldAlpha.value <= this.alphaThreshold) {
          const prev = this.worldAlpha.value
          this.worldAlpha.value = 0
          if (prev !== this.worldAlpha.value) this.doLerpRenderProps = true
        }
        if (this.worldAlpha.value >= (1 - this.alphaThreshold)) {
          const prev = this.worldAlpha.value
          this.worldAlpha.value = 1
          if (prev !== this.worldAlpha.value) this.doLerpRenderProps = true
        }
      }
      if (this.doLerpRenderProps) {
        // do lerp
        this.lerpRendererProps(
          world0 ? world0.rendererProps : null,
          world1 ? world1.rendererProps : null,
          this.worldAlpha.value,
          this.instantiatedRenderer.reactiveProps,
          this.instantiatedRenderer
        )
        this.doLerpRenderProps = false
      }

      if (this.worldAlpha.value < this.alphaThreshold) {
        // dispose world1
        // not here because it causes a termporary freeze

        // if (world1 && !this.transitioning) {
        //   world1.dispose()
        //   delete this.worlds[1]
        // }
        // only update world 1
        if (world0) world0.update(delta)
      } else if (this.worldAlpha.value > (1 - this.alphaThreshold)) {
        // dispose world0
        // not here because it causes a termporary freeze

        // if (world0 && !this.transitioning) {
        //   world0.dispose()
        //   delete this.worlds[0]
        // }
        // only update world 2
        if (world1) world1.update(delta)
      } else {
        // update both worlds
        world0.update(delta)
        world1.update(delta)
      }

      this.instantiatedRenderer.render(this.worlds[0], this.worlds[1], this.worldAlpha.value)
    },

    lerpRendererProps (data0, data1, alpha, model, target) {
      for (const prop in model) {
        const modelValue = model[prop]

        // if (prop === 'mixTexture') {
        //   console.log('ok')
        // }

        let val0 = data0 ? data0[prop] : null
        if (val0 === undefined || val0 === null) val0 = modelValue
        let val1 = data1 ? data1[prop] : null
        if (val1 === undefined || val1 === null) val1 = modelValue

        if (ObjectUtils.isPlainObject(modelValue)) {
          this.lerpRendererProps(val0, val1, alpha, modelValue, target[prop])
        } else {
          let result
          switch (typeof modelValue) {
            case 'string':
            case 'boolean':
            case 'function':
              // strings and booleans are only changed
              // when alpha is either 0 or 1
              if (alpha < this.alphaThreshold) {
                if (target[prop] !== val0) {
                  result = val0
                }
              } else if (alpha > (1 - this.alphaThreshold)) {
                if (target[prop] !== val1) {
                  result = val1
                }
              }
              break
            case 'number': {
              // we can lerp this
              const res = NumberUtils.lerpNumber(val0, val1, alpha)
              if (target[prop] !== res) {
                result = res
              }
              break
            }
            case 'object': {
              // see if we can lerp this object
              const type = modelValue ? modelValue.constructor : null
              switch (type) {
                case Color: {
                  const res = this.colorLerp.copy(val0).lerp(val1, alpha)
                  if (res.r !== target[prop].r || res.g !== target[prop].g || res.b !== target[prop].b) {
                    // console.log('lerping', prop, 'on', target)
                    target[prop].copy(res)
                  }
                  break
                }
                case Vector2:
                case Vector3:
                case Vector4:
                  // console.log('lerping', prop, 'on', target)
                  target[prop].lerpVectors(val0, val1, alpha)
                  break
                default:
                  // can't lerp object, assign it
                  if (alpha < this.alphaThreshold) {
                    result = val0
                  } else if (alpha > (1 - this.alphaThreshold)) {
                    result = val1
                  }
                  break
              }
              break
            }
            default:
              console.warn('[lerp render data] unknown type', typeof modelValue)
              break
          }
          if (result !== undefined && result !== null && result !== target[prop]) {
            // console.log('lerping', prop, 'on', target)
            target[prop] = result
          }
        }
      }
    },
    eventTargetisMouseActive (event) {
      let pass = false
      this.mouseActiveClasses.forEach(cls => {
        if (event.target.classList.contains(cls)) {
          pass = true
        }
      })
      return pass
    },

    handleMouseDown (event) {
      if (this.eventTargetisMouseActive(event)) {
        event.preventDefault()
        event.stopPropagation()
        if (this.currentWorld) this.currentWorld.handleMouseDown(event)
      }
    },
    handleMouseMove (event) {
      if (this.eventTargetisMouseActive(event)) {
        event.preventDefault()
        event.stopPropagation()
        if (this.currentWorld) this.currentWorld.handleMouseMove(event)
      }
    },
    handleMouseUp (event) {
      if (this.currentWorld) this.currentWorld.handleMouseUp(event)
    },
    handleMouseWheel (event) {
      if (this.eventTargetisMouseActive(event)) {
        if (this.currentWorld) this.currentWorld.handleMouseWheel(assign(event, normalizeWheel(event)))
      }
    },

    onResize () {
      // let domRect = this.$refs.container.getBoundingClientRect()
      // console.log(domRect)
      if (this.instantiatedRenderer) {
        this.instantiatedRenderer.width = this.width
        this.instantiatedRenderer.height = this.height
      }
      if (this.worlds[0]) {
        this.worlds[0].width = this.width
        this.worlds[0].height = this.height
      }
      if (this.worlds[1]) {
        this.worlds[1].width = this.width
        this.worlds[1].height = this.height
      }
    }
  },

  computed: {
    // controlKitThreejsControls () {
    //   return [() => import(/* webpackChunkName: "control-kit" */ '@/3d/utils/ThreejsControlKit')]
    // },
    currentWorldIndex () {
      return Math.round(this.worldAlpha.value)
    },
    currentWorld () {
      return this.worlds[this.currentWorldIndex]
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'variables';

.canvas-container {
  box-sizing: border-box;
  overflow: hidden;

  canvas {
    pointer-events: none;
  }
}

// .control-panel {
//   position: absolute;
//   top: 0;
//   right: 5px;
//   min-width: 350px;
//   max-height: 100%;
//   overflow-y: auto;
//   overflow-x: hidden;
// }

.threejs-stats {
  left: 0;
  position: absolute;
  top: 10px;
}
</style>
