<script type="text/jsx">
import { ObjectUtils } from '@monogrid/js-utils'
import find from 'lodash/find'

const defaultSliderSettings = {
  min: -10,
  max: 10,
  step: 0.01
}
/**
 * A self contained interface able to modify a target object
 * based on a model object.
 *
 * It automatically infers the control types and supports
 * infinitely nested subObjects
 */
export default {
  name: 'ControlKit',

  functional: true,

  props: {
    /**
     * a settings model object with properties
     * to be modified in the target object.
     *
     * It can have sub-objects and sub-properties.
     */
    model: {
      required: true
    },
    /**
     * The target object to modify.
     */
    target: {
      required: false
    },
    /**
     * An array of additional controls to use.
     * TODO: Documentation
     */
    additionalControls: {
      type: Array,
      required: false
    },
    /**
     * Root title displayed
     */
    title: {
      type: String,
      required: false,
      default: 'Options'
    },
    /**
     * Object containing a definition of settings
     * TODO: Documentation
     */
    settings: {
      type: Object,
      required: false,
      default () {
        return {}
      }
    }
  },

  render (h, context) {
    const sentenceCase = function (text) {
      var result = text.replace(/([A-Z](?![A-Z]))/g, ' $1')
      return String(result.charAt(0).toUpperCase() + result.slice(1)).trim()
    }

    const getNumberSlider = function (h, target, prop, path) {
      const val = target[prop]

      let setting
      if (context.props.settings.sliders) {
        setting = find(context.props.settings.sliders, function (o) {
          return path.match(o.match)
        })
      }
      if (!setting) {
        setting = defaultSliderSettings
      }

      return (
        <div class="number-slider-container">
          <input
            id={path}
            class="number-slider"
            type="range"
            min={setting.min}
            max={setting.max}
            step={setting.step}
            value={val}
            on-input={function (e) { target[prop] = parseFloat(e.target.value) }}
            on-change={function (e) { target[prop] = parseFloat(e.target.value) }}
          />
          <input
            class="number-input"
            value={val}
            step={setting.step}
            type="number"
            on-change={function (e) { target[prop] = parseFloat(e.target.value) }}
            on-input={function (e) { target[prop] = parseFloat(e.target.value) }}
          />
        </div>
      ) //
    }
    const parseModel = function (h, model, output, title = 'Options', target, path = 'model') {
      const children = []
      for (const prop in model) {
        if (prop.indexOf('_') === 0) continue // skip "private" props
        switch (typeof model[prop]) {
          case 'string':
            children.push(
              <div class="item">
                <label for={path + '.' + prop} class="item-title">{sentenceCase(prop)}</label>
                <div class="item-content">
                  <input id={path + '.' + prop} value={target[prop]} on-change={(event) => { target[prop] = event.target.value }} />
                </div>
              </div>
            ) //
            break
          case 'boolean':
            children.push(
              <div class="item">
                <label for={path + '.' + prop} class="item-title">{sentenceCase(prop)}</label>
                <div class="item-content">
                  <input id={path + '.' + prop} type="checkbox" checked={target[prop]} on-change={(event) => { target[prop] = event.target.checked }} />
                </div>
              </div>
            ) //
            break
          case 'number':
            children.push(
              <div class="item">
                <label for={path + '.' + prop} class="item-title">{sentenceCase(prop)}</label>
                <div class="item-content">{getNumberSlider(h, target, prop, path + '.' + prop)}</div>
              </div>
            ) //
            break
          case 'function':
            children.push(
              <div class="item">
                <label for={path + '.' + prop} class="item-title">Execute</label>
                <div class="item-content">
                  <button id={path + '.' + prop} on-click={target[prop] ? target[prop] : model[prop]}>{sentenceCase(prop)}</button>
                </div>
              </div>
            ) //
            break
          case 'object':
            if (ObjectUtils.isPlainObject(model[prop])) {
              parseModel(h, model[prop], children, prop, target[prop], path + '.' + prop)
            } else {
              if (context.props.additionalControls && context.props.additionalControls.length > 0) {
                for (let i = 0; i < context.props.additionalControls.length; i++) {
                  const controls = context.props.additionalControls[i]
                  for (let j = 0; j < controls.length; j++) {
                    if (controls[j].match(model[prop])) {
                      children.push(
                        <div class="item">
                          <label for={path + '.' + prop} class="item-title">{sentenceCase(prop)}</label>
                          <div class="item-content">{controls[j].getControl(h, target, prop, path + '.' + prop)}</div>
                        </div>
                      ) //
                      break
                    }
                  }
                }
              }
            }
            break
        }
      }
      output.push(
        <div class="wrap-collabsible wrap-collabsible-panel">
          <input id={path} class="toggle" type="checkbox" />
          <label for={path} class="lbl-toggle lbl-toggle-panel">{sentenceCase(title)}</label>
          <div class="collapsible-content collapsible-content-panel">
            {children}
          </div>
        </div>
      ) //
    }
    const elements = []
    parseModel(h, context.props.model, elements, context.props.title, context.props.target ? context.props.target : context.props.model, context.props.target ? 'target' : 'model')
    return <div class="control-panel">{elements}</div>
  }
}
</script>

<style lang="scss">
$c-primary: #051e42;
$c-primary-variation: #c3cedf;

$c-secondary: #081220;
$c-secondary-variation: #688cc2;

.control-panel {
  background: #000;
  box-sizing: border-box;
  color: $c-primary-variation;
  font-family: monospace;

  font-size: 11px;
  line-height: 1;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  position: absolute;
  right: 0;
  top: 0;
  width: 370px;

  /*
    collapsible style
  */
  .wrap-collabsible {
    box-sizing: border-box;
  }

  .wrap-collabsible > input[type='checkbox'] {
    display: none;
  }

  label {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
  }

  .collapsible-content {
    box-sizing: border-box;
    display: none;
    height: 0;
    overflow: hidden;
  }
  /* stylelint-disable */
  .toggle:checked + .lbl-toggle + .collapsible-content {
    display: block;
    height: auto;
  }
  /* stylelint-enable */

  /*
    collapsible panel style
  */
  .wrap-collabsible-panel {
    margin-bottom: 2px;
    margin-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
  }

  .lbl-toggle-panel {
    background: $c-primary;
    border-bottom: 1px solid rgba($c-secondary-variation, 0.25);
    border-left: 1px solid rgba($c-secondary-variation, 0.25);
    border-radius: 2px;
    border-right: 1px solid rgba($c-secondary-variation, 0.25);
    border-top: 1px solid rgba($c-secondary-variation, 0.25);
    color: $c-primary-variation;
    font-weight: bold;
    padding: 4px;

    &::before {
      border-bottom: 5px solid transparent;
      border-left: 5px solid currentColor;

      border-top: 5px solid transparent;
      content: ' ';
      display: inline-block;
      margin-right: 0.7rem;
      transform: translateY(-2px);

      transition: transform 0.2s ease-out;

      vertical-align: middle;
    }
  }

  .collapsible-content-panel {
    background: rgba($c-secondary, 0.45);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 100%;
    // padding-bottom: 2px;
  }
  /* stylelint-disable */
  .toggle:checked + .lbl-toggle-panel + .collapsible-content-panel {
    border-bottom: 1px solid rgba($c-secondary-variation, 0.25);
    border-left: 1px solid rgba($c-secondary-variation, 0.25);
    border-right: 1px solid rgba($c-secondary-variation, 0.25);
  }
  /* stylelint-enable */

  .toggle:checked + .lbl-toggle-panel {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .toggle:checked + .lbl-toggle-panel::before {
    transform: rotate(90deg) translateX(-3px);
  }

  .vc-chrome-body,
  .vc-chrome {
    background: transparent;
    box-shadow: none;
  }

  /*
    items style
  */
  .item {
    box-sizing: border-box;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 100%;
  }

  .set-border-color {
    border: 1px solid $c-secondary-variation;
  }

  .item-title,
  .item-content {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
  }

  .item-content {
    padding: 0 5px;
    width: 65%;
  }

  .item-title {
    text-align: right;
    width: 35%;
  }

  /*
    Number slider style
  */
  .number-slider-container {
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    width: 100%;

    .number-slider,
    .number-input {
      display: inline-block;
      position: relative;
    }

    .number-slider {
      margin: 0;
      margin-right: 10px;
      padding: 0;
      width: 70%;
    }

    .number-input {
      font-size: 11px;
      height: 11px;
      top: -4px;
      width: 20%;
    }
  }

  /*
    Button input style
  */
  button {
    background: $c-primary;
    border: 1px solid rgba($c-secondary-variation, 0.25);
    border-radius: 2px;
    color: $c-primary-variation;
    cursor: pointer;
    font-size: 11px;
    padding: 5px 10px;
  }
  /* stylelint-disable */
  input,
  .vc-input__input {
    background: $c-secondary;
    border: 1px solid $c-secondary-variation;
    color: $c-primary-variation;
    /* stylelint-enable */
    // background: none;
    font-family: monospace;
    padding: 1px;
  }

  input[type=checkbox] {
    appearance: none;
    background: $c-secondary;
    border: 1px solid $c-secondary-variation;
    cursor: pointer;
    height: 15px;
    margin: 0;
    width: 15px;

    &::after {
      background: $c-primary-variation;
      box-sizing: border-box;
      content: '';
      display: none;
      height: 100%;
      width: 100%;
    }

    &:checked {
      &::after {
        display: block;
      }
    }
  }

  /*
    Range input style
  */
  input[type=range] {
    appearance: none;
    background: none;
    border: 0;
    margin: 18px 0;

    &::-webkit-slider-runnable-track {
      background: $c-secondary;
      border: 1px solid $c-secondary-variation;
      cursor: pointer;
      height: 15px;
    }

    &::-moz-range-track {
      background: $c-secondary;
      border: 1px solid $c-secondary-variation;
      cursor: pointer;
      height: 15px;
    }

    &::-ms-track {
      background: transparent;
      border: 0;
      color: transparent;
      cursor: pointer;
      height: 15px;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      background: $c-primary;
      // border: 0;
      border: 1px solid $c-primary-variation;
      border-radius: 1px;
      cursor: pointer;
      height: 11px;
      margin-top: 1px;
      width: 7px;
    }

    &::-moz-range-thumb {
      background: $c-primary;
      // border: 0;
      border: 1px solid $c-primary-variation;
      border-radius: 1px;
      cursor: pointer;
      height: 11px;
      width: 7px;
    }

    &::-ms-thumb {
      background: $c-primary;
      // border: 0;
      border: 1px solid $c-primary-variation;
      border-radius: 1px;
      cursor: pointer;
      height: 11px;
      width: 7px;
    }

    &::-ms-fill-lower {
      background: $c-secondary;
      border: 1px solid $c-secondary-variation;
    }

    &::-ms-fill-upper {
      background: $c-secondary;
      border: 1px solid $c-secondary-variation;
    }

    &:focus {
      outline: none;

      &::-webkit-slider-runnable-track {
        background: $c-primary;
      }

      &::-ms-fill-lower {
        background: $c-primary;
      }

      &::-ms-fill-upper {
        background: $c-primary;
      }
    }
  }
}

</style>
