<template lang="html">
  <canvas
    :id='id'
    :width="width"
    :height="height"
    ref="vue-sprite-canvas"
  ></canvas>
</template>

<script>
import { RAF } from '@monogrid/js-utils'
import delay from 'lodash/delay'
/**
 * Instances a `canvas` element that plays a spritesheet
 * from TexturePacker
 *
 * @see [TexturePacker](https://www.codeandweb.com/texturepacker)
 */
export default {
  name: 'SpriteAnimator',

  props: {
    /**
     * PNG image path to spritesheet, must be a valid path or blob string.
     */
    spritesheet: {
      required: true,
      type: String,
      default: ''
    },
    /**
     * The TexturePacker json file, parsed
     */
    json: {
      required: true,
      type: Object,
      default () {
        return {}
      }
    },
    /**
     * Frames per second for playback
     */
    fps: {
      type: Number,
      default: 30
    },
    /**
     * Signals the spritesheet to start playing as soon as its ready.
     */
    autoplay: {
      type: Boolean,
      default: true
    },
    /**
     * Adds an artificial delay to the autoplay feature, in milliseconds.
     */
    autoplayDelay: {
      type: Number,
      default () {
        return 0
      }
    },
    /**
     * Plays the spritesheet in reverse once the end is reached,
     * starts playing forward again after that is done.
     *
     * Must be used in conjuction with `loop`.
     */
    yoyo: {
      type: Boolean,
      default: false
    },
    /**
     * Loops the spritesheet playback.
     */
    loop: {
      type: Boolean,
      default: false
    },
    /**
     * Custom ID for the spritesheet root element.
     */
    id: {
      type: String,
      default: 'vue-sprite'
    }
  },

  watch: {
    /**
     * resets yoyodirection to forward when yoyo is disabled
     */
    yoyo (value) {
      if (!value) {
        this.yoyodirection = 0
      }
    }
  },

  data () {
    return {
      frames: [],
      length: 0,
      frameIndex: 0,
      currentIndex: 0,
      yoyodirection: 0,
      sprite: null,
      height: 0,
      width: 0,
      now: 0,
      then: 0
    }
  },
  mounted () {
    this.json.frames.forEach((frame) => {
      this.frames.push({
        name: frame.filename,
        x: frame.frame.x,
        y: frame.frame.y,
        w: frame.frame.w,
        h: frame.frame.h
      })
    })
    // this.frames.sort((a, b) => a.filename < b.filename)
    this.width = this.frames[0].w
    this.height = this.frames[0].h
    this.length = (this.frames.length - 1)
  },
  created () {
    this.$nextTick(() => {
      this.sprite = new Image()
      this.sprite.src = this.spritesheet
      this.sprite.onload = ({ target }) => { this.init(target) }
    })
  },
  methods: {
    init (img) {
      this.ctx = this.$refs['vue-sprite-canvas'].getContext('2d')
      /**
       * Emitted when the spritesheet is ready to be played
       * (image has been loaded)
       */
      this.$emit('init')
      if (this.autoplay) {
        this.render()
        delay(this.play, this.autoplayDelay)
      }
    },
    /**
     * Draws the image into the canvas
     */
    render () {
      this.ctx && this.ctx.clearRect(0, 0, this.width, this.height)
      if (this.yoyo && this.currentIndex % this.length === 0 && this.currentIndex) {
        this.yoyodirection = Number(!this.yoyodirection)
      }
      const index = Math.abs((this.currentIndex % this.length) - (this.length * this.yoyodirection))
      const x = this.frames[index].x
      const y = this.frames[index].y
      this.ctx && this.ctx.drawImage(this.sprite, x, y, this.width, this.height, 0, 0, this.width, this.height)
    },
    /**
     * Handles the draw loop.
     */
    doloop () {
      this.now = Date.now()
      const delta = (this.now - this.then)
      if (delta > (1000 / this.fps)) {
        this.then = this.now - (delta % (1000 / this.fps))
        this.render()
        this.currentIndex++
        // console.log(this.currentIndex)
      }

      if (!this.loop && this.currentIndex >= this.length) {
        RAF.remove(this.doloop)
        this.currentIndex = 0
        /**
         * Emitted when the spritesheet ends,
         * never emitted while looping.
         */
        this.$emit('ended')
      }
    },
    /**
     * Stops the playback
     */
    stop () {
      RAF.remove(this.doloop)
      this.currentIndex = 0
      /**
       * Emitted when the spritesheet is
       * explicitly told to stop playing
       */
      this.$emit('stop')
    },
    /**
     * Resumes the playback from optional frame number `from`
     */
    play (from) {
      this.then = Date.now()
      this.currentIndex = Number.isNaN(Number(from)) ? this.currentIndex : from
      RAF.add(this.doloop)
      /**
       * Emitted when the spritesheet begins to play
       */
      this.$emit('play')
    }
  }
}
</script>
