<template>
  <transition appear name="slide-in">
    <aside class="version-info" :class="{ 'auto-positioned': autoPositioned }">v{{ version }} {{commitHash}}</aside>
  </transition>
</template>

<script>
/**
 * A component to display a version identificator for a webapp
 * Useful for QA teams
 */
export default {
  name: 'VersionInfo',
  props: {
    /**
     * Version (eg 1.2.3)
     */
    version: {
      type: String,
      required: true,
      default: 'untagged',
      validator: function (value) {
        return value.length > 0
      }
    },
    /**
     * Shortened Commit hash of the version (eg 8dfd465)
     */
    commitHash: {
      type: String,
      required: false,
      default: '',
      validator: function (value) {
        return value.length > 0
      }
    },
    /**
     * Determines if the component is automatically positioned
     * in the app in the bottom right corner
     */
    autoPositioned: {
      type: Boolean,
      required: false,
      default: true
    }
  }
}
</script>

<style scoped lang="scss">

.version-info {
  background-color: #000;
  color: #fff;
  font-size: 9px;
  padding: 3px;

  &.auto-positioned {
    bottom: 0;
    position: fixed;
    right: 0;
    z-index: 10000;
  }
}

.slide-in-enter-active {
  transition: transform 0.5s;
}

.slide-in-enter {
  transform: translateX(100%);
}
</style>
